<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8">
    <title>{% if page.title != '' and site.title != '' and page.title != site.title|e('html') %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self'; font-src 'self'; img-src 'self' data:; connect-src 'self'; worker-src 'self'; object-src 'self'; media-src 'self'; manifest-src 'self'; base-uri 'self'; frame-src 'self'; child-src 'self'; form-action 'self';">
    <!-- {% include 'partials/metadata.html.twig' %} -->

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}">
    <link rel="canonical" href="{{ page.canonical(true)|e }}">
{% endblock head %}

{% if header.description %}
    <meta name="description" content="{{ header.description }}">
{% endif %}
{% if header.robots %}
    <meta name="robots" content="{% if header.robots %}{{ header.robots }}{% else %}{{ config.site.metadata.robots|e }}{% endif %}">
{% endif %}

    <link rel="icon" type="image/png" href="{{ theme_url }}/favicons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ theme_url }}/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="300x300" href="{{ theme_url }}/favicons/apple-touch-icon.png">
{% block stylesheets %}
    {% do assets.addCss('theme://css/bootstrap-5.3.3/bootstrap.css') %}
    {% do assets.addCss('theme://fonts/font-awesome-4.7.0/css/font-awesome.min.css') %}
    {% do assets.addCss('theme://css/style.css') %}
{% endblock %}
{% block javascripts %}
    {% do assets.addJs('theme://script/bootstrap-5.3.3/bootstrap.bundle.min.js', { defer: 'defer' }) %}
    {% do assets.addJs('theme://script/jquery/jquery-3.7.1.min.js', { defer: 'defer' }) %}
    {% do assets.addJs('theme://script/underscore/underscore-min.js', { defer: 'defer' }) %}
    {% do assets.addJs('theme://script/javascript.js', { defer: 'defer' }) %}
{% endblock %}
{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

  <nav class="navbar p-0 m-0 px-2 sticky-top navbar-light bg-dark border-bottom border-dark">
    <div class="col col-12 p-0 m-0 px-2 py-1">
      <h1 class="p-0 m-0 text-windsorpro-bold"><a href="{{ home_url|e }}"><span class="text-white">{{ site.title|e }}</span></a></h1>
      <h2 class="p-0 m-0 text-windsorpro-regular"><a href="{{ home_url|e }}"><span class="text-white">{{ config.site.metadata.description|e }}</span></a></h2>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col px-3 px-md-4 mx-3 mx-md-0 my-3 my-md-4 bg-white shadow-lg border border-dark">

        <div class="container-fluid">
          <div class="row">
            <div class="col py-3 py-md-4 text-left">

            {% block header %}
                <header class="col col-12 p-0 m-0 pb-2">
                    <div class="h1 p-0 m-0 text-windsorpro-bold">{% if header.title %}{{ header.title|e }}{% endif %}</div>
                    <div class="h2 p-0 m-0 text-windsorpro-regular">{% if header.description %}{{ header.description }}{% endif %}</div>
                    <hr class="border border-dark border-1 opacity-100">
                </header>
            {% endblock %}

            <!-- {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock %} -->

            {% block body %}
              <main class="col col-12 p-0 m-0">
                <article class="col col-12 p-0 m-0">
                  <div class="text-georgia-regular">
                    {% block content %}{% endblock %}
                  </div>
                </article>
              </main>
            {% endblock %}

            {% block bottom %}
                {{ assets.js('bottom')|raw }}
            {% endblock %}

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
